{% extends 'clean.html.twig' %}

{% block title %}Bienvenue sur MyBlog{% endblock %}

{% block subtitleheader %}Actualité brûlante du surfer d'argent 🏄 .. {% endblock %}

{% block body %}

        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{{ path('post_view', {id: 1}) }}">
                            <h2 class="post-title">L'homme doit explorer, et c'est l'exploration dans toute sa splendeur.</h2>
                            <h3 class="post-subtitle">Les problèmes semblent bien petits à partir de 150 miles d'altitude.</h3>
                        </a>
                        <p class="post-meta">
                            Publié par
                            <a href="#!">Start Bootstrap</a>
                            le 24 Septembre 2022
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{{ path('post_view', {id: 2}) }}">
                        <h2 class="post-title">Je crois que chaque humain a un nombre fini de battements de cœur. Je n'ai pas l'intention de gaspiller l'un des miens.</h2></a>
                        <p class="post-meta">
                            Publié par
                            <a href="#!">Start Bootstrap</a>
                            le 18 Septembre 2022
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{{ path('post_view', {id: 3}) }}">
                            <h2 class="post-title">La science n'a pas encore maîtrisé la prophétie.</h2>
                            <h3 class="post-subtitle">Nous prévoyons trop de choses pour l'année prochaine et bien trop peu pour les dix prochaines années..</h3>
                        </a>
                        <p class="post-meta">
                            Publié par
                            <a href="#!">Start Bootstrap</a>
                            le 24 Août 2022
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{{ path('post_view', {id: 4}) }}">
                            <h2 class="post-title">L'échec n'est pas une option.</h2>
                            <h3 class="post-subtitle">Beaucoup disent que l'exploration fait partie de notre destin, mais c'est en fait notre devoir envers les générations futures..</h3>
                        </a>
                        <p class="post-meta">
                            Publié par
                            <a href="#!">Start Bootstrap</a>
                            le 8 Juillet 2022
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>

{% endblock %}
